[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

MemoryCaptures/
Recordings/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage

.vs/
.vscode/
.idea/

Tools/UnityModules/
Tools/SourceModels/
Tools/Generated/MinamiKotaro/
Tools/Generated/Backups/
Tools/Generated/*.blend
Tools/Generated/TextureBackups/

BLACKver.1.2.zip
BLACKver.1.2/
shadow moon/
Unity3D 高质量日本街道小巷子场景模型-U3D特效素材_爱给网_aigei_com/
南光太郎新.fbx
*.zip
Unity3D 街道小巷子场景/
